.aboutContainer {
  background: #f2f2f2;
  width: 500px;
  height: 500px;
  
  /* center container */
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* fonts */
  font-family: Karla;
  text-align: left;
  
}