/* BODY SETTINGS */
  body {
    /* background: grey; */
    background-image: linear-gradient(rgb(0, 132, 255), white)
  }

/* HEADER SETTINGS */
  header {
    font-family: 'Karla', sans-serif;
    background: white;
  }

  /* name icon in header */
    #nameBlock {
      font-weight: bold;
      font-size: x-large;
      text-align: center;
      color: white;
      width: 200px;
      background: rgb(75, 74, 74);
      float: left;
    }
  
  /* HEADER LINK SETTINGS */
    .headerLinks {
      text-align: center;
      margin-bottom: 0px;
      background: white;
    }
  
    a {
      color: black;
      text-decoration: none;
    }
    #about {
      float: left;
      width: 100px;
    }
    #portfolio {
      float: left;
      width: 100px;
    }
    #contact {
      float: left;
      width: 100px;
    }

 
    footer {
      /* background: white; */
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2.5rem;
    }

    .container {
      color: black;
      font-family: Karla;
      font-size: x-small;
      text-align: center;
    }
